/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto:wght@400;500&family=Russo+One&display=swap');

@font-face {
    font-family: 'Tomatoes';
    src: url('./../fonts/tomatoes.ttf');
    src: local('☺'), url('./../fonts/tomatoes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Galactic';
    src: url('./../fonts/galactic.ttf');
    src: local('☺'), url('./../fonts/galactic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Commons */
:root{
    --bs-primary: #81b141;
    --bs-warning: #ff9100;
    --color-dark: #2a2a2a;
    --color-l-dark: #707070;
    --color-bg-light: #f6f8f5;
}


.navbar-brand{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}
  
h2,h3 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.text-tomato{
    font-family: 'Tomatoes', sans-serif;
    text-transform: capitalize;
}